*.iml
.gradle/
.idea/
/local.properties
/.kotlin/
**/build/
captures/
recordings/
/.artifacts/
/artifacts/
.externalNativeBuild/
.cxx/
keystore.properties
release-signing/
*.jks
*.keystore
home.android.sdk_*.zip
/desktop/
/desktop-native/
/Build Minova Cinema Desktop.cmd
/Build Minova Cinema Native.cmd
/Install Minova Cinema Native.cmd
/Launch Minova Cinema Desktop.cmd
